# Project Config Variables
PROJECT_NAME=NotiPy
PROJECT_VERSION=0.0.1
PROJECT_DESCRIPTION=A multichannel notification service
PROJECT_DOCS_URL=/docs

# Database Config Variables
DB_HOST=mongodb
DB_PORT=27017
DB_USERNAME=root
DB_PASSWORD=password
DB_NAME=notipy
DB_STORE=mongodb

# Messaging Queue Config Variables
MQ_HOST=rabbitmq
MQ_PORT=5672
MQ_USERNAME=rabbitmquser
MQ_PASSWORD=rabbitmqpassword
MQ_VHOST=notipy

# Email Service Config Variables
EMAIL_SERVICE_API_URL=EMAIL_SERVICE_API
EMAIL_DOMAIN=EMAIL_DOMAIN
EMAIL_API_KEY=EMAIL_API_KEY
EMAIL_NAME=Sumit Vishwakarma
EMAIL_FROM=vsumit030201@gmail.com
